.flex {
    display: flex;
}

.flex-down {
    flex-direction: column;
}

.to-left {
    flex-direction: row;
}

.to-right{
    flex-direction: row-reverse;
}

.inside-player {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    gap: 15px;
}

.player {
    background-color: #1b1d2e;
}

.game-variables {
    display: flex;
    align-content: center;
    gap: 5px;
}