.flex {
    display: flex;
}

.flex-down {
    flex-direction: column;
}

.to-left {
    flex-direction: row;
}

.to-right{
    flex-direction: row-reverse;
}

.inside-player {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    gap: 8px;
}

.player {
    background-color: #1b1d2e;
}

.game-variables {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.align-right {
    justify-content: right;
    align-items: flex-end;
}

.money {
    color: #5ec05e;
}