.focus {
    background-color: #1b1d2e;
    position: absolute;
    width: 400px;
    height: 75px;
    color:white;
}

.flex-down {
    flex-direction: column;
}

.flex {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 40%;
}

.inner-stats {
    gap: 15px;
    padding: 15px;
}

.pfp {
    z-index: 250;
    transform: translate(-150px, -85px);
}