.App {
  text-align: center;
}
 
.lowerleft {
  margin-bottom: 1px;
  margin-left: 1px;

  position: fixed;
  bottom: 50px;
}

.lowerright {
  margin-bottom: 1px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.player-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}